# deploy config fragment for kernel
CONFIG_NFS_FS=n
CONFIG_NFS_V4=n
CONFIG_NFS_V4_1=n
CONFIG_NFS_V4_2=n
CONFIG_ROOT_NFS=n
CONFIG_MXC_UART=n
CONFIG_USB=n
CONFIG_DM_USB=n
CONFIG_USB_XHCI_HCD=n
CONFIG_USB_XHCI_DWC3=n
CONFIG_USB_DWC3=n
CONFIG_USB_GADGET=n