# deploy config fragment for kernel
CONFIG_BT_HCIBTUSB=n
CONFIG_USB_PEGASUS=n
CONFIG_USB_RTL8150=n
CONFIG_USB_RTL8152=n
CONFIG_USB_LAN78XX=n
CONFIG_USB_USBNET=n
CONFIG_USB_NET_DM9601=n
CONFIG_USB_NET_SR9800=n
CONFIG_USB_NET_SMSC75XX=n
CONFIG_USB_NET_SMSC95XX=n
CONFIG_USB_NET_PLUSB=n
CONFIG_USB_NET_MCS7830=n
CONFIG_MEDIA_USB_SUPPORT=n
CONFIG_USB_VIDEO_CLASS=n
CONFIG_SND_USB_AUDIO=n


CONFIG_USB_OTG=n
CONFIG_USB_OTG_WHITELIST=n
CONFIG_USB_XHCI_HCD=n
CONFIG_USB_EHCI_HCD=n
CONFIG_USB_EHCI_HCD_PLATFORM=n
CONFIG_USB_OHCI_HCD=n
CONFIG_USB_OHCI_HCD_PLATFORM=n
CONFIG_USB_HCD_TEST_MODE=n
CONFIG_USB_ACM=n
CONFIG_USB_STORAGE=n
CONFIG_USB_DWC3=n
CONFIG_USB_DWC3_GADGET=n
CONFIG_USB_DWC2=n

CONFIG_USB_ISP1760=n
CONFIG_USB_SERIAL=n
CONFIG_USB_SERIAL_CONSOLE=n
CONFIG_USB_SERIAL_GENERIC=n
CONFIG_USB_SERIAL_SIMPLE=n
CONFIG_USB_SERIAL_FTDI_SIO=n
CONFIG_USB_TEST=n
CONFIG_USB_EHSET_TEST_FIXTURE=n
CONFIG_USB_HSIC_USB3503=n
CONFIG_NOP_USB_XCEIV=n
CONFIG_USB_MXS_PHY=n
CONFIG_USB_ULPI=n

CONFIG_USB=y
CONFIG_USB_BDC_UDC=y
CONFIG_USB_SNP_UDC_PLAT=y
CONFIG_USB_CHIPIDEA=y
CONFIG_USB_CHIPIDEA_HOST=y
CONFIG_USB_CHIPIDEA_UDC=y
CONFIG_USB_GADGET=y
CONFIG_USB_CONFIGFS=y
CONFIG_USB_CONFIGFS_SERIAL=n
CONFIG_USB_CONFIGFS_ACM=n
CONFIG_USB_CONFIGFS_OBEX=n
CONFIG_USB_CONFIGFS_NCM=n
CONFIG_USB_CONFIGFS_ECM=n
CONFIG_USB_CONFIGFS_ECM_SUBSET=n
CONFIG_USB_CONFIGFS_RNDIS=n
CONFIG_USB_CONFIGFS_EEM=n
CONFIG_USB_CONFIGFS_MASS_STORAGE=n
CONFIG_USB_CONFIGFS_F_LB_SS=n
CONFIG_USB_CONFIGFS_F_FS=y
CONFIG_USB_CONFIGFS_F_UAC1=n
CONFIG_USB_CONFIGFS_F_UAC1_LEGACY=n
CONFIG_USB_CONFIGFS_F_UAC2=n
CONFIG_USB_CONFIGFS_F_MIDI=n
CONFIG_USB_CONFIGFS_F_HID=n
CONFIG_USB_CONFIGFS_F_UVC=n

CONFIG_USB_ZERO=n
CONFIG_USB_AUDIO=n
CONFIG_USB_ETH=n
CONFIG_USB_MASS_STORAGE=n
CONFIG_USB_G_SERIAL=n

CONFIG_EXTCON_USB_GPIO=n
CONFIG_EXTCON_USBC_CROS_EC=n
CONFIG_PHY_QCOM_USB_HS=n
CONFIG_PHY_SAMSUNG_USB2=n
