[Unit]
Description=Setup log location (persistent or volatile)
DefaultDependencies=no
Before=systemd-journal-flush.service
Requires=var-volatile.mount mnt-datastore.mount mnt-iris.mount
After=var-volatile.mount mnt-datastore.mount mnt-iris.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/switch-log-location.sh

[Install]
WantedBy=local-fs.target
