[Unit]
Description=Restore system clock from timestamp file if newer
RequiresMountsFor=/mnt/iris

[Service]
Type=oneshot
ExecStart=/usr/bin/restore-timestamp.sh
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
